.App {
  text-align: center;
}
body {
  background-color: rgb(170, 158, 158);
  background-image: url('../img/bckgimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  color: beige;
}
img{
  max-width: 100%;
  margin: 50px;
}
